.jumbotron.jumbotron-fluid
  .container
    - if flash[:notice]
      %div.alert.alert-success
        = flash[:notice]
    %h1.display-4
      Crags
    =render 'shared/gmap'
    %h1.display-4 List of all crags
    %table.table.table-striped
      %thead
        %tr
          %td ID
          %td Name
          %td Country
          %td Number of sectors
          - if current_user
            %td Actions
      %tbody
        - @crags.each do |crag|
          %tr
            %td= crag.id
            %td= link_to crag.name, crag_path(crag)
            %td= crag.country
            %td= crag.sectors.count.to_s
            %td
              - if current_user
                = link_to 'Edit | ', edit_crag_path(crag)
                = link_to "Delete", crag_path(crag), method: :delete
    =paginate @crags
    %br
    - if current_user
      =link_to "New crag", new_crag_path, class: 'btn btn-primary'
