.jumbotron.jumbotron-fluid
  .container
    - if flash[:notice]
      %div.alert.alert-success
        = flash[:notice]
    %h1.display-4= crag_full_name @crag
    %p Number of sectors: #{@crag.sectors.count.to_s}
    %div.row
      %div.col-sm-5
        %h2.display-6
          Sectors in #{@crag.name}
      %div.col-sm-5
      %table.table.table-striped
        %thead
          %tr
            %td #
            %td Name
        %tbody
          - @crag.sectors.each_with_index do |sector, i|
            %tr
              %td= i
              %td= link_to sector.name, crag_sector_path(sector.crag, sector)
      = link_to 'Back', crags_path, class: 'btn btn-primary'
