.jumbotron.jumbotron-fluid
  .container
    - if flash[:notice]
      %div.alert.alert-success
        = flash[:notice]
    %h1.display-4= crag_full_name @crag
    %p Number of sectors: #{@crag.sectors.count.to_s}
    %div.row
      %div.col-sm-5
        %h2.display-6
          Sectors in #{@crag.name}
        %ul.list-group
          -@crag.sectors.each do |sector|
            %li.list-group-item= link_to sector.name, crag_sector_path(sector.crag, sector)
      %div.col-sm-5
        %h2.display-6
          Top climbers in #{@crag.name}
    = link_to "Edit", edit_crag_path(@crag)
    = link_to "Delete", crag_path(@crag), method: :delete
    = link_to 'Back', crags_path
