
%p
  = link_to 'Back', crag_sector_climbing_route_ascents_path
= render 'errors', model: @ascent
= form_for @ascent do |f|
  %p
    = f.label :style
    %br/
    = f.collection_select(:ascent_style_id, @ascents, :id, :name, {:prompt => "Select sector..."}, {:selected => :prompt})
  %p
    = f.label :comment
    %br/
    = f.text_field :text
  %p
    = f.label :date
    %br/
    = f.text_area :datetime
  %p
  / %p= 

  .actions
    = f.submit 'Save'

