.jumbotron.jumbotron-fluid
  .container
    = link_to 'Back', crag_sector_climbing_route_path(@climbing_route.sector.crag, @climbing_route.sector, @climbing_route)
    %h2 Add new ascent
    %table.table.table-striped
      %thead
        %tr
          %td Route name
          %td Sector
          %td Crag
      %tbody
        %tr
          %td= @climbing_route.name
          %td= @climbing_route.sector.name
          %td= @climbing_route.sector.crag.name

    = form_for @ascent, url: crag_sector_climbing_route_ascents_path do |f|
      = f.collection_select(:ascent_style_id, AscentStyle.all, :id, :style, {:prompt => "Select style..."}, {:selected => :prompt})
      %p
      = f.text_field :comment, placeholder: 'Comment'
      %p
      = f.date_select :date, placeholder: 'yyyy-mm-dd'
      %p
      = f.hidden_field :climbing_route_id, value: params[:climbing_route_id]
      %p
      = f.hidden_field :user_id, value: current_user.id
      %p
      = f.submit "Submit", class: "btn btn-primary"
   
