%table.table.table-striped
  %thead
    %tr
      %td Name:
      %td Aspect:
      %td Latitude:
      %td Longitude
      %td Crag name:
  %tbody
    - @sectors.each do |sector|
      %tr
        %td= link_to sector.name, crag_sector_path(sector.crag.id, sector.id)
        %td= sector.aspect
        %td= sector.latitude
        %td= sector.longitude
        %td= link_to sector.crag.name, crag_path(sector.crag.id)
