.jumbotron.jumbotron-fluid
  .container
    %h1.display-4= "#{@user.first_name} #{@user.last_name}"
    %h2.display-5= "Total points: " + @user.total_points.to_s
    %h2.display-5 Ascents:
    %table.table.table-striped
      %thead
        %tr
          %td #
          %td Climbing route
          %td Grade
          %td Points
          %td Action
      %tbody
        -@ascents.each_with_index do |ascent, i|
          %tr
            %td= i + 1
            %td= link_to ascent.climbing_route.name, crag_sector_climbing_route_path(ascent.climbing_route.sector.crag, ascent.climbing_route.sector, ascent.climbing_route, ascent)
            %td= find_ascent_grade ascent.climbing_route.route_grade_id
            %td= ascent.points
            %td
              = link_to 'Edit', edit_crag_sector_climbing_route_ascent_path(ascent.climbing_route.sector.crag, ascent.climbing_route.sector, ascent.climbing_route, ascent)
              = ' | '
              = link_to 'Delete',  crag_sector_climbing_route_ascent_path(ascent.climbing_route.sector.crag, ascent.climbing_route.sector, ascent.climbing_route, ascent),
                method: :delete, data: {confirm: "Are you sure?"}
    =paginate @ascents
