%h1 List of all climbing routes
%table.table.table-striped
  %thead
    %tr
      %td ID
      %td Name
      %td Grade
      %td Acents amount
      %td Actions
  %tbody
    - @climbing_routes.each do |climbing_route|
      %tr
        %td= climbing_route.id
        %td= climbing_route.name
        %td= get_route_grade(climbing_route.route_grade_id)
        %td= climbing_route.number_of_ascents
        %td
          = link_to 'Edit | ', edit_crag_sector_climbing_route_path(climbing_route.sector.crag, climbing_route.sector, climbing_route)
          = link_to 'Show | ', crag_sector_climbing_route_path(climbing_route.sector.crag, climbing_route.sector, climbing_route)
          = link_to 'Delete',  crag_sector_climbing_route_path(climbing_route.sector.crag, climbing_route.sector, climbing_route),
            method: :delete, data: {confirm: "Are you sure?"}
%br
= link_to "New climbing route", new_crag_sector_climbing_route_path, class: 'btn btn-primary'
