%h1 Create new climbing route
= form_for @climbing_route, url: crag_sector_climbing_routes_path do |f|
  %p= f.text_field :name, placeholder: 'Climbing route name'
  %p= f.collection_select(:route_grade_id, RouteGrade.all, :id, :grade, {:prompt => "Select grade..."}, {:selected => :prompt})
  %p= f.hidden_field :sector_id, value: params[:sector_id]
  %p= f.hidden_field :number_of_ascents, value: 0
  %p= f.submit "Submit", class: "btn btn-primary"
