.container
  %h1
    Route
    = " #{@climbing_route.id}"
  %h2 Route data:
  %p
    Route name:
    = @climbing_route.name
  %p
    Route grade:
    = get_route_grade(@climbing_route.route_grade_id)
  %p
    Ascents amount:
    = @climbing_route.number_of_ascents
